.postSearch {
  align-items: center;
  flex-basis: 50%;
  height: 44px;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  background: #764abc;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  box-sizing: border-box;
}

.postSearch:focus {
  outline: none;
  border: solid 1px #764abc;
}
