.addPostForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 25px;
  color: var(--background-dark-purple);
  margin: 20px 0;
  align-self: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.option {
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: var(--text-gray);
}

