.buttonContainer {
  display: flex;
  gap: 10px;
}

.reactionButton {
  background-color: var(--main-white);
  box-shadow: 2px 1px 2px var(--background-light-purple);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px;
}
