.editPostForm {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 25px;
  color: #764abc;
  margin: 20px 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 700px;
}

.label {
  color: #6b6b7a;
}

.input {
  align-items: center;
  height: 34px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  border-radius: 3px;
  color: #6b6b7a;
  border: solid 1px #c8b6e4;
  padding: 5px 10px;
}

.textarea {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  border-radius: 3px;
  color: #6b6b7a;
  border: solid 1px #c8b6e4;
  padding: 5px 10px;
}

.input:focus,
.textarea:focus {
  outline: none;
  border: solid 1px #764abc;
}

.button {
  width: 100px;
  align-items: center;
  background-color: #9a7ace;
  box-shadow: 3px 4px 3px #764abc;
  border-radius: 3px;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #764abc;
}

.buttonDisabled,
.buttonDisabled:hover {
  background-color: #c8b6e4;
  box-shadow: 2px 3px 2px #9a7ace;
  cursor: default;
}
