.textarea {
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  border-radius: 5px;
  color: var(--text-gray);
  border: solid 1px var(--background-light-purple);
  height: 44px;
  padding: 5px 10px;
}

.textarea:focus {
  outline: none;
  border: solid 1px var(--background-dark-purple);
}
