.postsPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}

.postsPageList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.title {
  font-size: 25px;
  margin: 20px 0;
  color: var(--background-dark-purple);
}

.postsPageItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.enter {
  transform: translateX(-350px);
}
.enterActive {
  transform: translateX(0);
  transition: all 500ms ease-in;
}
.exit {
  opacity: 1;
  /* transform: translateX(0); */
}
.exitActive {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}
