.postsList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.title {
  font-size: 25px;
  margin: 20px 0;
  color: #764abc;
}

.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 2px 2px 8px #9a7ace;
  border-radius: 6px;
  padding: 8px;
  box-sizing: border-box;
}

.postItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100px;
  width: max-content;
  gap: 15px;
  border-radius: 3px;
  box-shadow: 2px 3px 2px #c8b6e4;
  padding: 2px 4px;
}

.postTitle {
  font-size: 18px;
  color: #6b6b7a;
  margin: 0;
}

.postContent {
  width: 100%;
  font-size: 16px;
  margin: 13px 0;
  color: #6b6b7a;
}

.viewButton {
  display: flex;
  align-self: flex-end;
  width: max-content;
  text-decoration: none;
  background-color: #9a7ace;
  box-shadow: 2px 3px 2px #764abc;
  color: #fff;
  border-radius: 3px;
  padding: 3px 4px;
  cursor: pointer;
}

.viewButton:hover {
  background-color: #764abc;
}
