.postsList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.title {
  font-size: 30px;
  margin: 30px 0;
}

.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 2px 2px 12px #be9ff0;
  border-radius: 6px;
  padding: 10px;
  box-sizing: border-box;
}

.postItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.postTitle {
  font-size: 20px;
  color: #764abc;
  margin: 0;

}

.postContent {
  width: 100%;
  font-size: 18px;
  margin: 0;
}

.viewButton {
  display: flex;
  align-self: flex-end;
  width: max-content;
  text-decoration: none;
  background-color: #be9ff0;
  color: #fff;
  border-radius: 3px;
  padding: 3px 4px;
  margin-top: 10px;
  cursor: pointer;
}

.viewButton:hover {
  background-color: #764abc;
}
