* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --text-gray: #6b6b7a;
  --text-dark-grey: #373745;
  --text-light-grey: #b1b1b7;
  --background-purple: #9a7ace;
  --background-dark-purple: #764abc;
  --background-light-purple: #c8b6e4;
  --main-white: #ffffff;
  --main-black: #000000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
