.singlePost {
  width: 100%;
  padding-top: 20px;
}

.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 2px 2px 12px #be9ff0;
  border-radius: 6px;
  padding: 8px;
  box-sizing: border-box;
}

.postItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100px;
  width: max-content;
  gap: 15px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #be9ff0;
  padding: 2px 4px;
}

.postTitle {
  font-size: 18px;
  color: #6b6b7a;
  margin: 0;
}

.postContent {
  width: 100%;
  font-size: 16px;
  margin: 13px 0;
  color: #6b6b7a;
}

.editButton {
  display: flex;
  align-self: flex-end;
  width: max-content;
  text-decoration: none;
  background-color: #be9ff0;
  color: #fff;
  border-radius: 3px;
  padding: 3px 4px;
  cursor: pointer;
}

.editButton:hover {
  background-color: #764abc;
}
