.singlePost {
  width: 100%;
  padding-top: 20px;
}

.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 2px 2px 4px #9a7ace;
  border-radius: 6px;
  padding: 15px;
  box-sizing: border-box;
}

.postItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100px;
  width: max-content;
  gap: 15px;
  border-radius: 3px;
  padding: 2px 4px;
}

.postTitle {
  font-size: 18px;
  color: #6b6b7a;
  margin: 0;
}

.postContent {
  width: 100%;
  font-size: 16px;
  margin: 13px 0;
  color: #6b6b7a;
}

.editButton {
  display: flex;
  text-decoration: none;
}

.button {
  background-color: #fff;
  box-shadow: 1px 1px #c8b6e4;
  color: #764abc;
  border: 1px solid #c8b6e4;
  width: 100px;
  border-radius: 3px;
  padding: 4px;
  cursor: pointer;
  box-sizing: border-box;
}

button:hover {
  background-color: #764abc;
  color: #fff;
}
