.singlePost {
  width: 100%;
  padding-top: 20px;
}

.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 2px 2px 4px var(--background-purple);
  border-radius: 6px;
  padding: 15px;
  box-sizing: border-box;
}

.postItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100px;
  width: max-content;
  gap: 15px;
  border-radius: 3px;
  padding: 2px 4px;
}

.postTitle {
  font-size: 18px;
  color: var(--text-gray);
  margin: 0;
}

.postContent {
  width: 100%;
  font-size: 16px;
  margin: 13px 0;
  color: var(--text-gray);
}

.editButton {
  display: flex;
  text-decoration: none;
}

.button {
  background-color: var(--main-white);
  box-shadow: 1px 1px var(--background-light-purple);
  color: var(--background-dark-purple);
  border: 1px solid var(--background-light-purple);
  width: 100px;
  border-radius: 3px;
  padding: 4px;
  cursor: pointer;
  box-sizing: border-box;
}

button:hover {
  background-color: var(--background-dark-purple);
  color: var(--main-white);
}
